# Dependency directories
node_modules/
jspm_packages/

package-lock.json

# Optional npm cache directory
.npm

# Editor directories and files
.idea/workspace.xml
.vscode/
*.swp
*.swo
*.sublime-workspace
.DS_Store

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Local DokuWiki instance data
/dokuwiki-test/
# DokuWiki development environment data
/dokuwiki-dev/data/

# Keep Docker Compose files and scripts
!/dokuwiki-dev/docker-compose.yml
!/dokuwiki-dev/start.sh
!/dokuwiki-dev/stop.sh
